/*======== From Bootstrap ==============*/
.all * { 
    box-sizing: border-box;
}

.p0 { 
    padding: 0;
}

.p1 { 
    padding: 0.25rem;
}

.p2 { 
    padding: 0.5rem;
}

.p3 { 
    padding: 1rem;
}

.p4 { 
    padding: 1.5rem;
}

.p5 { 
    padding: 3rem;
}

.px0 { 
    padding-right: 0; 
    padding-left: 0; 
}

.px1 { 
    padding-right: 0.25rem; 
    padding-left: 0.25rem; 
}

.px2 { 
    padding-right: 0.5rem; 
    padding-left: 0.5rem; 
}

.px3 { 
    padding-right: 1rem; 
    padding-left: 1rem; 
}

.px4 { 
    padding-right: 1.5rem; 
    padding-left: 1.5rem; 
}

.px5 { 
    padding-right: 3rem; 
    padding-left: 3rem; 
}

.py0 { 
    padding-top: 0; 
    padding-bottom: 0; 
}

.py1 { 
    padding-top: 0.25rem; 
    padding-bottom: 0.25rem; 
}

.py2 { 
    padding-top: 0.5rem; 
    padding-bottom: 0.5rem; 
}

.py2_5 { 
    padding-top: 0.75rem; 
    padding-bottom: 0.75rem; 
}

.py3 { 
    padding-top: 1rem; 
    padding-bottom: 1rem; 
}

.py4 { 
    padding-top: 1.5rem; 
    padding-bottom: 1.5rem; 
}

.py5 { 
    padding-top: 3rem; 
    padding-bottom: 3rem; 
}

.pt0 { 
    padding-top: 0; 
}

.pt1 { 
    padding-top: 0.25rem; 
}

.pt2 { 
    padding-top: 0.5rem; 
}

.pt3 { 
    padding-top: 1rem; 
}

.pt4 { 
    padding-top: 1.5rem; 
}

.pt5 { 
    padding-top: 3rem; 
}

.pe0 { 
    padding-right: 0; 
}

.pe1 { 
    padding-right: 0.25rem; 
}

.pe2 { 
    padding-right: 0.5rem; 
}

.pe3 { 
    padding-right: 1rem; 
}

.pe4 { 
    padding-right: 1.5rem; 
}

.pe5 { 
    padding-right: 3rem; 
}

.pb0 { 
    padding-bottom: 0; 
}

.pb1 { 
    padding-bottom: 0.25rem;
}

.pb2 { 
    padding-bottom: 0.5rem; 
}

.pb3 { 
    padding-bottom: 1rem; 
}

.pb4 { 
    padding-bottom: 1.5rem; 
}

.pb5 { 
    padding-bottom: 3rem; 
}

.ps0 { 
    padding-left: 0; 
}

.ps1 { 
    padding-left: 0.25rem; 
}

.ps2 { 
    padding-left: 0.5rem; 
}

.ps3 { 
    padding-left: 1rem; 
}

.ps4 { 
    padding-left: 1.5rem; 
}

.ps5 { 
    padding-left: 3rem; 
}

.gap0 { 
    gap: 0; 
}

.gap1 { 
    gap: 0.25rem; 
}

.gap2 { 
    gap: 0.5rem; 
}

.gap3 { 
    gap: 1rem; 
}

.gap4 { 
    gap: 1.5rem; 
}

.gap5 { 
    gap: 3rem; 
}

.dFlex { 
    display: -webkit-box;
    display: flex; 
}

.flexRow { 
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row; 
}

.flexColumn { 
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column; 
}

.flexRowReverse { 
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse; 
}

.flexColumnReverse { 
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-direction: column-reverse; 
}

.flexGrow0 { 
    -webkit-box-flex: 0;
    flex-grow: 0; 
}

.flexGrow1 { 
    -webkit-box-flex: 1;
    flex-grow: 1; 
}

.flexShrink0 { 
    flex-shrink: 0; 
}

.flexShrink1 { 
    flex-shrink: 1; 
}

.positionStatic { 
    position: static; 
}

.positionRelative { 
    position: relative; 
}

.positionAbsolute { 
    position: absolute; 
}

.positionFixed { 
    position: fixed; 
}

.positionSticky { 
    position: -webkit-sticky; 
    position: sticky; 
}

.bgBlack { 
    background-color: #000; 
}

.bgWhite { 
    background-color: #fff; 
}

.bgTransparent { 
    background-color: transparent; 
}

.border { 
    border: 1px solid #dee2e6; 
}

.border0 { 
    border: 0; 
}

.borderTop { 
    border-top: 1px solid #dee2e6; 
}

.borderTop0 { 
    border-top: 0; 
}

.borderEnd { 
    border-right: 1px solid #dee2e6; 
}

.borderEnd0 { 
    border-right: 0; 
}

.borderBottom { 
    border-bottom: 1px solid #dee2e6; 
}

.borderBottom0 { 
    border-bottom: 0; 
}

.borderStart { 
    border-left: 1px solid #dee2e6; 
}

.borderStart0 { 
    border-left: 0; 
}

.borderBlack { 
    border-color: #000; 
}

.borderWhite { 
    border-color: #fff; 
}

.border1 { 
    border-width: 1px; 
}

.border2 { 
    border-width: 2px; 
}

.border3 { 
    border-width: 3px; 
}

.border4 { 
    border-width: 4px; 
}

.border5 { 
    border-width: 5px; 
}

.textStart { 
    text-align: left; 
}

.textEnd { 
    text-align: right; 
}

.textCenter { 
    text-align: center; 
}

.textBlack { 
    color: #000; 
}

.textWhite { 
    color: #fff; 
}

.justifyContentStart { 
    -webkit-box-pack: start;
    justify-content: flex-start; 
}

.justifyContentEnd { 
    -webkit-box-pack: end;
    justify-content: flex-end; 
}

.justifyContentCenter { 
    -webkit-box-pack: center;
    justify-content: center; 
}

.justifyContentBetween { 
    -webkit-box-pack: justify;
    justify-content: space-between; 
}

.justifyContentAround { 
    -webkit-box-pack: distribute;
    justify-content: space-around; 
}

.justifyContentEvenly { 
    -webkit-box-pack: space-evenly;
    justify-content: space-evenly; 
}

.alignItemsStart { 
    -webkit-box-align: start;
    align-items: flex-start; 
}

.alignItemsEnd { 
    -webkit-box-align: end;
    align-items: flex-end; 
}

.alignItemsCenter { 
    -webkit-box-align: center;
    align-items: center; 
}

.alignItemsBaseline { 
    -webkit-box-align: baseline;
    align-items: baseline; 
}

.alignItemsStretch { 
    -webkit-box-align: stretch;
    align-items: stretch; 
}

.alignContentStart {
    align-content: flex-start;
    align-content: -webkit-flex-start;
}

.alignContentEnd {
    align-content: flex-end;
    align-content: -webkit-flex-end;
}

.alignContentCenter {
    align-content: center;
    align-content: -webkit-center;
}

.alignContentBetween {
    align-content: space-between;
    align-content: -webkit-space-between;
}

.alignContentAround {
    align-content: space-around;
    align-content: -webkit-space-around;
}

.alignContentStretch {
    align-content: stretch;
    align-content: -webkit-stretch;
}

.top0 {
    top: 0;
}

.top50 {
    top: 50%;
}

.top100 {
    top: 100%;
}

.bottom0 {
    bottom: 0;
}

.bottom50 {
    bottom: 50%;
}

.bottom100 {
    bottom: 100%;
}

.start0 {
    left: 0;
}

.start50 {
    left: 50%;
}

.start100 {
    left: 100%;
}

.end0 {
    right: 0;
}

.end50 {
    right: 50%;
}

.end100 {
    right: 100%;
}

.w25 {
    width: 25%;
}

.w50 {
    width: 50%;
}

.w75 {
    width: 75%;
}

.w100 {
    width: 100%;
}

.wauto {
    width: auto;
}

.mw100 {
    max-width: 100%;
}

.vw100 {
    width: 100vw;
}

.minVw100 {
    min-width: 100vw;
}

.h25 {
    height: 25%;
}

.h50 {
    height: 50%;
}

.h75 {
    height: 75%;
}

.h100 {
    height: 100%;
}

.hAuto {
    height: auto;
}

.mh100 {
    max-height: 100%;
}

.vh100 {
    height: 100vh;
}

.minVh100 {
    min-height: 100vh;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}


.alignMiddle {
    vertical-align: middle;
    vertical-align: -webkit-middle;
}

/*======= From mine =============*/

.captchaCharacters {
    width: 100%;
    height: 60px;
}

.cursorPointer {
    cursor: pointer;
}

.noOutline {
    outline: none;
}

.flexCenter {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
}
